html, body, .main{width: 100%; height: 100%; position: relative; font-family: 'microsoft yahei';}
.swiper-container{width: 100%; height: 100%; font-size: 0.16rem;}
.swiper-container1 .slide11{background: url("../images/8d5494eef01f3a295d0cc1ba9c25bc315d607cf9.jpg") no-repeat center; background-size: 100% 100%;}
.slide22 .swiper-container2{background: url("../images/20150221041308_kCLEa.thumb.700_0.jpeg") no-repeat; background-size: 100% 100%; color: #fff;}

/*背景音乐*/
.music{width: 0.18rem; height: 0.15rem; position: absolute; z-index: 20; right: 1.1rem; top: 0.05rem; overflow: hidden;}
.music ul{width: 0.2rem; height: 100%;}
.music ul li{width: 0.02rem; height: 100%; margin-right: 0.02rem; background-color: #fff; float: left; animation: music1 1.5s infinite linear; transform-origin: bottom; transform: scale(0, 0); animation-play-state: paused;}
.music ul li:nth-child(1){animation-delay: 0.1s;}
.music ul li:nth-child(2){animation-delay: 0.7s;}
.music ul li:nth-child(3){animation-delay: 0.5s;}
.music ul li:nth-child(4){animation-delay: 0.2s;}
.music ul li:nth-child(5){animation-delay: 0.6s;}
@keyframes music1 {
    0%, 100%{
        transform: scale(1, 0);
    }
    50%{
        transform: scale(1, 1);
    }
}
@keyframes pic2 {
    0%{
        transform: scale(0, 0) rotateZ(0deg);
        opacity: 1;
    }
    100%{
        transform: scale(2, 2) rotateZ(-360deg);
        opacity: 0;
    }
}
@keyframes pic1 {
    0%{
        transform: scale(0, 0) rotateZ(0deg);
        opacity: 1;
    }
    100%{
        transform: scale(1.5, 1.5) rotateZ(360deg);
        opacity: 0;
    }
}

/*解锁部分-顶部信息栏*/
.topInfo{width: 96%; padding: 2%; color: #fff; font-size: .14rem; text-align: center; position: absolute; left: 0; top: 0; z-index: 10;}
.topInfo ul{float: left; margin-right: .03rem;}
.topInfo ul li{width: .06rem; height: .06rem; border: .01rem solid #fff; border-radius: 50%; background-color: #fff; float: left; margin-right: .02rem; position: relative; top: .02rem;}
.topInfo span{float: left; display: inline-block; line-height: .12rem;}
.topInfo i{display: inline-block; width: .12rem; height: .12rem; background: url("../images/pic.png") no-repeat; background-size: .24rem .12rem; position: relative; top: -.03rem;}
.topInfo .right{display: inline-block; float: right;}
.topInfo .right b{background: url("../images/collock.png") no-repeat center; background-size: .14rem .12rem; display: inline-block; width: .14rem; height: .12rem; float: left; margin-right: .02rem;}
.topInfo .right span{display: inline-block; width: .4rem;}
.topInfo .right .power{float: right; position: relative; margin-left: .03rem; top: -.03rem;}
.topInfo .right .power .progress{width: .3rem; height: .1rem; border-radius: .03rem; border: .01rem solid #fff; float: left; padding: .01rem; position: relative; top: .01rem;}
.topInfo .right .power .progress .inner{width: 100%; height: 100%; background-color: #fff; border-radius: .01rem;}
.topInfo .right .power .battery{width: .02rem; height: .06rem; border-radius: 0 .03rem .03rem 0; background-color: #fff; float: right; position: relative; top: .05rem;}

/*解锁部分-中间时间*/
.swiper-container1 .slide11 .middle-date{margin-top: .58rem;}
.swiper-container1 .slide11 .middle-date p{text-align: center; color: #fff; font-weight: 100;}
.swiper-container1 .slide11 .middle-date p:nth-child(1){font-size: .7rem; line-height: 1.06rem;}
.swiper-container1 .slide11 .middle-date p:nth-child(2){font-size: .2rem; line-height: .2rem;}

/*解锁部分-滑动解锁*/
.swiper-container1 .slide11{position: relative; _display: none;}
.swiper-container1 .slide11 .unlock{position: absolute; bottom: .3rem; left: 50%; width: 3rem; height: .5rem; margin-left: -1.5rem; text-align: center; font-size: .24rem;}
.swiper-container1 .slide11 .unlock p{-webkit-background-clip: text; -webkit-text-fill-color: transparent; background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8) 30%, #fff 50%, rgba(0, 0, 0, 0.8) 70%); background-blend-mode: hard-light; background-size: 100% 300%; -webkit-animation: shine 4s infinite linear;}
@-webkit-keyframes shine {
    50% {background-position: 100% 0;}
    100% {background-position: 100% 100%;}
}

/*解锁后划动部分*/
.slide22 .swiper-container2 .swiper-slide{background-color: #000; position: relative; width: 100%; height: 100%;}
.slide22 .swiper-container2 .swiper-slide .content{opacity: 0;}
.slide22 .swiper-container2 .slide1{background: url("../images/20140628142722_5Sec5.jpg") no-repeat; background-size: 100% 100%;}
.slide22 .swiper-container2 .slide2{background: url("../images/20150716092952_mEMnv.thumb.700_0.jpeg") no-repeat; background-size: 100% 100%;}
.slide22 .swiper-container2 .slide3{background: url("../images/113306las3pxee3v0nqzn0.jpg") no-repeat; background-size: 100% 100%;}
.slide22 .swiper-container2 .slide4{background: url("../images/20140628143004_dvkJm.thumb.700_0.jpeg") no-repeat; background-size: 100% 100%;}
.slide22 .swiper-container2 .slide5{background: url("../images/20150705065630_ZSfjV.jpeg") no-repeat; background-size: 100% 100%;}

/*第一屏*/
.slide22 .swiper-container2 .slide1{_display: none;}
.slide22 .swiper-container2 .slide1 img{width: 1rem; height: 1rem; display: inline-block; position: absolute; animation: pic1 5s infinite backwards linear;}
.slide22 .swiper-container2 .slide1 img.pic1{left: 0.1rem; bottom: 1rem;}
.slide22 .swiper-container2 .slide1 img.pic2{width: 0.5rem; height: 0.5rem; right: 0.2rem; top: 2rem; animation: pic2 3.5s infinite backwards;}
.slide22 .swiper-container2 .slide1 img.pic3{width: 0.5rem; height: 0.5rem; left: 1.4rem; top: 0.2rem; animation-duration: 2s;}
.slide22 .swiper-container2 #slide1 .resume{width: 3rem; height: 5rem; margin: .8rem auto;}
.slide22 .swiper-container2 #slide1 .resume .photo{width: 2rem; height: 2rem; margin: 0 auto; border: .1rem solid #fff; border-radius: 50%; animation: bounceIn 2s both; background: url("../images/kenan.png") no-repeat center; background-size: 1.6rem 1.6rem;}
.slide22 .swiper-container2 #slide1 .resume ul{width: 100%; height: 2.5rem; position: relative; padding-top: .5rem; text-align: center;}
.slide22 .swiper-container2 #slide1 .resume ul li{position: absolute;}
.slide22 .swiper-container2 #slide1 .resume ul li:nth-child(1){position: relative; height: .5rem; line-height: .5rem; font-size: .5rem;}
.slide22 .swiper-container2 #slide1 .resume ul li:nth-child(2){left: .3rem; top: 1.3rem; width: .1rem; height: .1rem; border-radius: 50%; background-color: #fff; animation: bounceInLeft 1s 1s 1 both;}
.slide22 .swiper-container2 #slide1 .resume ul li:nth-child(3){right: .3rem; top: 1.3rem; width: .1rem; height: .1rem; border-radius: 50%; background-color: #fff; animation: bounceInRight 1s 1s 1 both;}
.slide22 .swiper-container2 #slide1 .resume ul li:nth-child(4){left: .3rem; top: 2.3rem; width: .1rem; height: .1rem; border-radius: 50%; background-color: #fff; animation: bounceInLeft 1s 1s 1 both;}
.slide22 .swiper-container2 #slide1 .resume ul li:nth-child(5){right: .3rem; top: 2.3rem; width: .1rem; height: .1rem; border-radius: 50%; background-color: #fff; animation: bounceInRight 1s 1s 1 both;}
.slide22 .swiper-container2 #slide1 .resume ul li:nth-child(6){left: .35rem; top: 1.33rem; width: 2.3rem; height: .04rem; background-color: #fff; animation: fadeInRight 1s both;}
.slide22 .swiper-container2 #slide1 .resume ul li:nth-child(7){left: .35rem; top: 2.33rem; width: 2.3rem; height: .04rem; background-color: #fff; animation: fadeInLeft 1s both;}
.slide22 .swiper-container2 #slide1 .resume ul li:nth-child(8){left: .3rem; top: 1.35rem; width: 2.4rem; height: 1rem; line-height: 1rem; text-align: center; font-size: .3rem;}

/*第二屏*/
.slide22 .swiper-container2 .slide2{_display: none;}
.slide22 .swiper-container2 #slide2 .star{margin: 1rem 0 0 .8rem; position: relative; height: 1rem;}
.slide22 .swiper-container2 #slide2 .star span{display: inline-block; line-height: .5rem; font-size: .3rem; animation: starSpan 1s 1 .5s both;}
.slide22 .swiper-container2 #slide2 .star img{width: 3rem; height: 1rem; position: absolute; left: -.5rem; top: .1rem; transform-origin: top right; animation: starImg .5s 1 both;}
.slide22 .swiper-container2 #slide2 .info{width: 3rem; height: 4rem; margin: 0 auto;}
.slide22 .swiper-container2 #slide2 .info li{width: 100%; height: .8rem; line-height: .8rem; text-align: center;}
.slide22 .swiper-container2 #slide2 .info li span{display: inline-block; width: .5rem; height: .5rem; background: url("../images/star1.png") no-repeat; background-size: 100%; position: relative; top: .15rem; margin: 0 .2rem;}
.slide22 .swiper-container2 #slide2 .info li:nth-child(1){animation: bounceInLeft 1s 1s both;}
.slide22 .swiper-container2 #slide2 .info li:nth-child(1) span{animation: infoSpan1 2s infinite .2s both;}
.slide22 .swiper-container2 #slide2 .info li:nth-child(2){animation: bounceInRight 1s 1.3s both;}
.slide22 .swiper-container2 #slide2 .info li:nth-child(2) span{animation: infoSpan2 2s infinite .4s both;}
.slide22 .swiper-container2 #slide2 .info li:nth-child(3){animation: bounceInLeft 1s 1.6s both;}
.slide22 .swiper-container2 #slide2 .info li:nth-child(3) span{animation: infoSpan1 2s infinite .6s both;}
.slide22 .swiper-container2 #slide2 .info li:nth-child(4){animation: bounceInRight 1s 1.9s both;}
.slide22 .swiper-container2 #slide2 .info li:nth-child(4) span{animation: infoSpan2 2s infinite .8s both;}
.slide22 .swiper-container2 #slide2 .info li:nth-child(5){animation: bounceInLeft 1s 2.2s both;}
.slide22 .swiper-container2 #slide2 .info li:nth-child(5) span{animation: infoSpan1 2s infinite 1s both;}
.slide22 .swiper-container2 #slide3 .info li{text-align: left;}
@keyframes starSpan {
    0% {
        transform: rotate(-13deg) scale(0, 0);
    }
    100% {
        transform: rotate(-13deg) scale(1, 1);
    }
}
@keyframes starImg {
    0% {
        transform: scale(0, 0);
    }
    100% {
        transform: scale(1, 1);
    }
}
@keyframes infoSpan1 {
    0% {
        transform: scale(0.3, 0.3) rotate(0deg);
    }
    50% {
        transform: scale(1, 1) rotate(360deg);
    }
    100% {
        transform: scale(0.3, 0.3) rotate(720deg);
    }
}
@keyframes infoSpan2 {
    0% {
        transform: scale(0.3, 0.3) rotate(0deg);
    }
    50% {
        transform: scale(1, 1) rotate(-360deg);
    }
    100% {
        transform: scale(0.3, 0.3) rotate(-720deg);
    }
}

/*第三屏*/
.slide22 .swiper-container2 .slide3{_display: none;}
.slide22 .swiper-container2 .box{width: 3.5rem; height: 5rem; margin: 1rem auto;}
.slide22 .swiper-container2 #slide3 .box p{height: .5rem; text-align: center; line-height: .5rem; font-size: .4rem; animation: rubberBand 1s both;}
.slide22 .swiper-container2 #slide3 .box ul{width: 100%; height: 4.5rem; margin-top: .5rem;}
.slide22 .swiper-container2 #slide3 .box ul li{width: 1.41rem; height: 1.31rem; border: .02rem solid #fff; float: left; padding: .1rem;}
.slide22 .swiper-container2 #slide3 .box ul li:nth-child(1){margin: 0 .1rem .1rem 0; border-radius: 0 .5rem 0 .5rem; animation: bounceInLeft 1s 1s both;}
.slide22 .swiper-container2 #slide3 .box ul li:nth-child(2){margin: 0 0 .1rem .1rem; border-radius: .5rem 0 .5rem 0; animation: zoomInRight 2s 1.5s both;}
.slide22 .swiper-container2 #slide3 .box ul li:nth-child(3){margin: .1rem .1rem 0 0; border-radius: .5rem 0 .5rem 0; animation: zoomInLeft 2s 1.5s both;}
.slide22 .swiper-container2 #slide3 .box ul li:nth-child(4){margin: .1rem 0 0 .1rem; border-radius: 0 .5rem 0 .5rem; animation: bounceInRight 1s 1s both;}
.slide22 .swiper-container2 #slide3 .box ul li p{font-size: .15rem; line-height: .3rem;}

/*第四屏*/
.slide22 .swiper-container2 #slide4 .content{_display: none;}
.slide22 .swiper-container2 #slide4 .content .title{font-size: .5rem; text-align: center; margin-top: 1.5rem; font-weight: bold; transition: 1s; animation: bounceInDown 1s both;}
.slide22 .swiper-container2 #slide4 .content .box{position: absolute; left: 50%; top: 50%; margin: -1.2rem 0 0 -1.5rem; overflow: hidden;}
.slide22 .swiper-container2 #slide4 .content .box.on{animation: fadeOutDownBig 2s 1 both;}
.slide22 .swiper-container2 #slide4 .content .box.off{animation: fadeInUpBig 1s 1 both;}
.slide22 .swiper-container2 #slide4 .content .box .list{width: 3rem; height: 3rem;}
.slide22 .swiper-container2 #slide4 .content .box .list li{font-size: .16rem; float: left; background: url("../images/stars.png") no-repeat; background-size: 1rem 1rem; width: 1rem; height: 1rem; margin: .3rem .25rem; line-height: 1rem; text-align: center; animation: zoomInUp 1s both; color: #000;}
.slide22 .swiper-container2 #slide4 .content .puzzle{width: 300px; height: 400px; position: absolute; left: 50%; top: 50%; margin: -170px 0 0 -150px; font-size: 0; display: none;}
.slide22 .swiper-container2 #slide4 .content .three-dimensional, .slide22 .swiper-container2 #slide4 .content .ball, .slide22 .swiper-container2 #slide4 .content .baw{font-size: .2rem; display: none; margin: .2rem;}
.slide22 .swiper-container2 #slide4 .content .on{animation: zoomIn .5s 1 linear;}
.slide22 .swiper-container2 #slide4 .content .puzzle span{display: inline-block; width: 100px; height: 100px; background: url("../images/puzzle.jpg") no-repeat; background-size: 300px; position: absolute; transition: .3s;}
.slide22 .swiper-container2 #slide4 .content .puzzle span:nth-child(1){background-position: 0 0; opacity: .6;}
.slide22 .swiper-container2 #slide4 .content .puzzle span:nth-child(2){background-position: -100px 0;}
.slide22 .swiper-container2 #slide4 .content .puzzle span:nth-child(3){background-position: -200px 0;}
.slide22 .swiper-container2 #slide4 .content .puzzle span:nth-child(4){background-position: 0 -100px;}
.slide22 .swiper-container2 #slide4 .content .puzzle span:nth-child(5){background-position: -100px -100px;}
.slide22 .swiper-container2 #slide4 .content .puzzle span:nth-child(6){background-position: -200px -100px;}
.slide22 .swiper-container2 #slide4 .content .puzzle span:nth-child(7){background-position: 0 -200px;}
.slide22 .swiper-container2 #slide4 .content .puzzle span:nth-child(8){background-position: -100px -200px;}
.slide22 .swiper-container2 #slide4 .content .puzzle span:nth-child(9){background-position: -200px -200px;}
.slide22 .swiper-container2 #slide4 .content .puzzle p{position: absolute; height: 1rem; bottom: -.1rem;}
.slide22 .swiper-container2 #slide4 .content .puzzle p i{display: inline-block; width: .9rem; height: .9rem; background: url("../images/pic.jpg") no-repeat; background-size: .9rem; margin-left: .5rem;}
.slide22 .swiper-container2 #slide4 .content .puzzle p b{line-height: 1rem; vertical-align: top; margin-left: .3rem; font-size: .2rem;}

/*第五屏*/
.slide22 .swiper-container2 #slide5 .connect{width: 3rem; height: 5rem; border-radius: .2rem; margin: 1rem auto; background-color: rgba(177, 177, 177, .5); animation: bounceIn 1s both; text-align: center;}
.slide22 .swiper-container2 #slide5 .connect h3{height: 1rem; line-height: 1rem; font-size: .5rem; font-weight: 100; animation: 1s 1s fadeInDown both;}
.slide22 .swiper-container2 #slide5 .connect i{display: block; width: 2rem; height: 2rem; margin: .1rem auto; background: url("../images/wechat.png") no-repeat; background-size: 2rem 2rem; animation: 1s 1.5s fadeIn both;}
.slide22 .swiper-container2 #slide5 .connect p{width: 2rem; height: .5rem; text-align: left; margin: .3rem auto;}
.slide22 .swiper-container2 #slide5 .connect p span{display: inline-block; height: .5rem; line-height: .5rem; vertical-align: top;}
.slide22 .swiper-container2 #slide5 .connect p em{width: .5rem; height: .5rem; display: inline-block; margin-right: .2rem;}
.slide22 .swiper-container2 #slide5 .connect .qq em{background: url("../images/qq.png") no-repeat; background-size: .45rem .5rem; animation: 1s 2s fadeInLeft both;}
.slide22 .swiper-container2 #slide5 .connect .qq span{animation: 1s 2.5s lightSpeedIn both;}
.slide22 .swiper-container2 #slide5 .connect .tel em{background: url("../images/tel.png") no-repeat; background-size: .4rem .5rem; animation: 1s 3s fadeInLeft both;}
.slide22 .swiper-container2 #slide5 .connect .tel span{animation: 1s 3.5s lightSpeedIn both;}